h1{ 
    color:red;
    font-size: 50px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.carousel__container {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.carousel__item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel__item.active {
    display: block;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel__button--left {
    left: 10px;
}

.carousel__button--right {
    right: 10px;
}